<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>


</head>
<body>

<form method="post" th:action="@{/login}">
    <h5>Formulaire </h5>
    <input class="form-control" type="text"  name ="username" placeholder="votre email..." /> <br/>
    <input class="form-control" type="password"  name ="password" placeholder="votre password..."/> <br/>
    <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Se Connecter</button>
    </div>

</form>

</body>
</html>